syntax: glob

# sass cache
.sass-cache/*

# A hidden file created by the Mac OS X Finder.

# Backup files left behind by the Emacs editor.

# Lock files used by the Emacs editor.
.\#*

# Temporary files used by the vim editor.
.*.swp

# Temporary files used by TestMate
._*

# Backup files left behind by various editors
*.bak

# build directories

# XCode user data
**.pbxuser
**.mode?v?
**.perspectivev?
**.xcuserstate
**.xccheckout
**/xcuserdata/*

# AppCode settings

# documentation
**.docset/*
**/debug.txt

# for those crazies using svn and hg at the same time
*.svn*

# Doxygen tagfile output
**/core-plot-tags.xml
**/core-plot-touch-tags.xml

node_modules
.idea/
*.log
build
tmp
.grunt
.DS_Store
psd/
.vscode/
*.psd
*.sublime-project
*.sublime-workspace

dist/CNAME
CNAME
dist.zip

# ignore create-react-app

# dependencies
/myExample/intro-webpack/node_modules/
/myExample/intro-webpack/.pnp
/myExample/intro-webpack/.pnp.js

# testing
/myExample/intro-webpack//coverage

# production
/myExample/intro-webpack/build

# misc
/myExample/intro-webpack/.DS_Store
/myExample/intro-webpack/.env.local
/myExample/intro-webpack/.env.development.local
/myExample/intro-webpack/.env.test.local
/myExample/intro-webpack/.env.production.local

/myExample/intro-webpack/npm-debug.log*
/myExample/intro-webpack/yarn-debug.log*
/myExample/intro-webpack/yarn-error.log*

# dependencies
/recipe-app2/node_modules
/recipe-app2/.pnp
/recipe-app2/.pnp.js

# testing
/recipe-app2/coverage

# production
/recipe-app2/build

# misc
/recipe-app2/.DS_Store
/recipe-app2/.env.local
/recipe-app2/.env.development.local
/recipe-app2/.env.test.local
/recipe-app2/.env.production.local

/recipe-app2/npm-debug.log*
/recipe-app2/yarn-debug.log*
/recipe-app2/yarn-error.log*


# dependencies color-organizer
/color-organizer/node_modules
/color-organizer/.pnp
/color-organizer/.pnp.js

# testing
/color-organizer/coverage

# production
/color-organizer/build

# misc
/color-organizer/.DS_Store
/color-organizer/.env.local
/color-organizer/.env.development.local
/color-organizer/.env.test.local
/color-organizer/.env.production.local

/color-organizer/npm-debug.log*
/color-organizer/yarn-debug.log*
/color-organizer/yarn-error.log*


# dependencies news-app
/news-app/node_modules
/news-app/.pnp
/news-app/.pnp.js

# testing
/news-app/coverage

# production
/news-app/build

# misc
/news-app/.DS_Store
/news-app/.env.local
/news-app/.env.development.local
/news-app/.env.test.local
/news-app/.env.production.local

/news-app/npm-debug.log*
/news-app/yarn-debug.log*
/news-app/yarn-error.log*

# dependencies fake-members
/fake-members/node_modules
/fake-members/.pnp
/fake-members/.pnp.js

# testing
/fake-members/coverage

# production
/fake-members/build

# misc
/fake-members/.DS_Store
/fake-members/.env.local
/fake-members/.env.development.local
/fake-members/.env.test.local
/fake-members/.env.production.local

/fake-members/npm-debug.log*
/fake-members/yarn-debug.log*
/fake-members/yarn-error.log*


